version: "3.9"
services:
  frontend:
    build: ./frontend
    container_name: cardcraft-frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
    depends_on:
      - backend

  backend:
    build: ./backend
    container_name: cardcraft-backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
